<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="courses.my_courses">Online Courses Completed </span></h1>
        </div>
    </div>
    <div class="row">
        {% for course in site.data.index.courses %}
            <h3>
            <ul>
            <li> <a href = "{{course.url}}" target="_blank"> {{course.name}} </a>: &ensp; {{course.website}}  </li>
            </ul>
            </h3>


            
      {% endfor %}
    </div>
</div>
<br>